<footer>
    <p>
        <h3>
            {{title}} page was created by Michael N
        </h3>
    </p>
    <nav>
        <a href="/">home</a>
        <a href="/help">help</a>
        <a href="/about">about</a>
    </nav>
</footer>